*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
log/*
!log/.keep
tmp/*
!tmp/.keep
*.bundle
*.so
*.o
*.a
mkmf.log
.idea
.irb_history
.ruby-version
.envrc
